.agence-txt{
    color:#032d5d;
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: justify;
}

.closed{
    border: 1px solid white;
    background: #efefef;
    width:3vw;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-txt{
    color:#032d5d;
    font-size: 1.1em;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:5vw;
    color: #032d5d;
}

.container-txt{
    width:70%;
    margin: 4em auto;
    text-align: justify;
}

h2{
    color:#032d5d;
    font-size: 2.2em;
    margin: 0 0 2em 0;
    text-align: center;
}

h4{
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: #032d5d;
}

.hours{
    text-align: center;
}

.left{
    text-align: left;
}

.logoagence{
    width:100px;
    height:100px;
}

.logotxt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr{
    border-bottom: 5px solid #fff;
}

.legend{
    font-weight: bold;
}

.inlinelink{
    color:#032d5d;
}

.name{
    font-size: 1.2em;
    color:#032d5d;
}

.open{
    border:1px solid #efefef;
    width:3vw;
    background:green;
}

.openinghours-desk{
    width:50%;
    margin: auto;
    padding-bottom: 4em;
}

.openinghours-mobile{
    display:none;
    padding-bottom: 4em;
}

.review{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.review-box{
    display: flex;
    gap:25px;
    margin: 1em 0;
}

.review-img{
    width:100px;
    height: 100px;
    border-radius: 100%;
}

.review-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.review-quote{
    display: flex;
}

.review-txt{
    color:#032d5d;
    font-size: 1.1em;
    line-height: 1.7em;
    width:15em;
    text-align: justify;
}

.star{
    margin:20px 0 0 0;
    position: relative;
    display: block;
    color: #f0ad4e;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #f0ad4e;
    border-left: 20px solid transparent;
    transform: rotate(35deg);
  }
.star:before{
    border-bottom: 20px solid #f0ad4e;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -12px;
    left: -14px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.star:after {
    position: absolute;
    display: block;
    color: #f0ad4e;
    top: 1px;
    left: -22px;
    width: 0px;
    height: 0px;
    border-right: 20px solid transparent;
    border-bottom: 12px solid #f0ad4e;
    border-left: 20px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

.gray{
    color:gray;
    border-bottom: 12px solid gray;
}
.gray:before{
    color:gray;
    border-bottom: 20px solid gray;
}
.gray:after{
    color:gray;
    border-bottom: 12px solid gray;
}

table{
    color:#032d5d;
    border-collapse: collapse;
}

.team{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teampic{
    width:320px;
    height:400px;
    border-radius: 5px 5px 0 0;
}

.teamdesc{
    width:300px;
    height:auto;
    margin:0 10px 10px 10px;
}

.txt-title{
    padding-right: 0.5em;
    font-style: italic;
}

@media screen and (max-width: 600px)
{
    .logoagence{
        width:75px;
        height:75px;
    }

    .openinghours-desk{
        display: none;
    }

    .openinghours-mobile
    {
        display:block;
        color:#032d5d;
        text-align: center;
        font-size: 1.1em;
    }
    .review-img{
        width:60px;
        height:60px;
    }

    .team{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        gap:5vh;
    }
}