h2{
    color:#032d5d;
    font-size: 2.2em;
    padding: 3vh 0;
    text-align: center;
}

h3{
    color: #032d5d;
}

.container{
    display: flex;
    justify-content: center;
    gap:5vw;
    color: #032d5d;
}

.logoagence{
    width:100px;
    height:100px;
}

.logotxt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legend{
    font-weight: bold;
}

p{
    color:#032d5d;
}

.team{
    display: flex;
    justify-content: space-around;
}

.teampic{
    width:300px;
    height:400px;   
}

.teamdesc{
    width:300px;
    height:200px;   
    text-align: center;
}