/* Police 
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

*{
    font-family:"Quicksand", sans-serif;
    scroll-behavior:smooth;
}

a {
    text-decoration: none;
}

.copyright p{
    display: flex;
    background-color: white ;
    color:#032d5d;
    font-size:0.8em;
    margin:auto;
    justify-content: center;
}

.credit{
    color:#032d5d;
}

.cta{
    display: flex;
    font-size: 2.2em;
    width:8em;
    justify-content: center;
    border-radius: 10px;
    background: #032d5d;
    color:white;
}

.cta a{
    color:white;
}

.cta:hover{
    display: flex;
    justify-content: center;
    width:8em;
    border-radius: 10px;
    background: #083a74;
}

.current{
    background: white;
    border-radius:4px;
    color:#032d5d;
}

.current:hover{
    opacity: 70%;
}

.deroulant::after{
    content:" ▼";
    font-size:12px;
    padding-left: 5px;
    padding-top: 5px;
}

footer{
    margin-top: 5em;
    background-color: #032d5d;
}

h1{
    text-align: center;
    color:white;
    font-size: 3em;
}

.icons{
    width:40px;
    height:40px;
}

.informations{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.informations a:hover{
    background: white;
    border-radius:4px;
    color:#032d5d;
}

.informations-content{
    display: flex;
    flex-direction: column;
    color:white;
    font-size:1.2em;
}

li{
    padding:0.3em 0 0.3em 0;
    color: #032d5d; 
}

.logo{
    display:flex;
    width:100px;
    height:100px;
    padding-left: 25px;
}

.logo:hover {
    opacity: 50%;
}

main{
    background-color: #FFFFFF;
}

.main-pad{
    padding-top: 14vh;
}

.menu {
    font-size:2em;
    font-weight: 400;
    display: flex;
    padding-right:25px;
    gap:60px;
}

.menu-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #032d5d;
    color:white;
    position:fixed;
    z-index: 3;
}

.menu-logo{
    display:flex;
    width:0.8em;
    height:0.8em;
    padding-top: 0.2em;
    padding-right: 0.3em;
}

.menu-txt{
    display: flex;
    padding:5px;
}

.menu-txt:hover{
    display:flex;
    background: white;
    border-radius:4px;
    color:#032d5d;
}

.network{
    display:flex;
    background-color: #FFFFFF;
    padding: 1em;
    gap:1em;
}

.network a:hover{
    opacity: 70%;
}

.sous{
    display: none;
    position: absolute;
    background-color: #032d5d;
}

li:hover .sous{
    display: block;
}

.to-top{
    position:fixed;
    bottom:30px;
    right:30px;
    width:40px;
    height:40px;
}

.texte{
    color:#032d5d;
    font-size: 1.3em;
    line-height: 1.5em;
}

ul a{
    color:white;
}

ul{
    list-style: none;
    padding-left: 0;
}