.background{
    display: flex;
    justify-content: space-between;
    position:absolute;
    height:76.5vh;
    width: 100%;
    object-fit: contain;
}

button{
    width:40%;
    border-radius: 10px;
    min-height: 2em;
    font-size: 1.2em;
    margin-top: 1em;
    cursor: pointer;
    color:#032d5d;
}

.formulaire{
    background:#032d5d;
    color: white;
    text-align: center;
    margin: auto;
    padding:3em 3em 1.5em 3em;
    width:33.3%;
    position: relative;
}

.form-intro{
    font-size: 1.1em;
    color:#032d5d;
    margin:auto;
    text-align: center;
    padding-bottom: 3em;
}

h1{
    text-align: center;
    color:white;
    font-size: 3em;
}

h2{
    color:#032d5d;
    font-size: 2.2em;
    text-align: center;
    margin: 0 0 2em 0;
}

header{
    padding-bottom: 12em;
}

img{
    position: relative;
    width:33.3%;
    height:713px;
}

input, select{
    min-height: 2em;
    width:100%;
    color: #032d5d;
}

::placeholder{
    color:#032d5d
}

label{
    display: block;
    text-align: left;
    padding:0.5em 0;
}

textarea{
    width: 100%;
    color: #032d5d
}

@media screen and (max-width:1024px)
{
    .background{
        display: none;
    }

    .formulaire{
        width:60%;
    }
}


@media screen and (max-width:1024px)
{
    .form-intro{
        width:80%;
    }

    .formulaire{
        width:70%;
    }
}
