.diapo{
    margin:60px auto;
    width:500px;
    height:500px;
    background-color: #032d5d;
    box-shadow: 0px 15px 10px -5px #032d5d;
    background-size: 500px 500px;
    animation: transition 45s ease-in-out infinite both;
}

.diapo:hover{
    animation-play-state: paused;
}

p{
    color:#032d5d;
    margin:10vh auto;
    text-align: center;
    font-size:1.4em;
    width:60%
}

@keyframes transition{
    0%{background-image: url(../pictures/diapo/suede/1.JPG);}
    11%{background-image: url(../pictures/diapo/suede/2.JPG);}
    22%{background-image: url(../pictures/diapo/suede/3.JPG);}
    33%{background-image: url(../pictures/diapo/suede/4.JPG);}
    44%{background-image: url(../pictures/diapo/suede/5.JPG);}
    55%{background-image: url(../pictures/diapo/suede/6.JPG);}
    66%{background-image: url(../pictures/diapo/suede/7.JPG);}
    77%{background-image: url(../pictures/diapo/suede/8.JPG);}
    88%{background-image: url(../pictures/diapo/suede/9.JPG);}
    100%{background-image: url(../pictures/diapo/suede/10.JPG);}
} 