.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:3em;
}

.cta-tours{
    text-align: center;
    width:6em;
    padding:0.2em 0.6em;
    font-size: 2.2em;
    border-radius: 10px;
    background: #032d5d;
    color:white;
}

.cta-tours:hover{
    width:6em;
    background: #083a74;
}

.diapo{
    margin:60px auto;
    width:500px;
    height:500px;
    background-color: #032d5d;
    box-shadow: 0px 10px 10px -5px #032d5d;
    border-radius: 10px;
    background-size: 500px 500px;
    animation: transition 80s ease-in-out infinite both;
}

.diapo:hover{
    animation-play-state: paused;
}

h2{
    color:#032d5d;
    font-size: 2.2em;
    margin: 0 0 2em 0;
    text-align: center;
}

.pic{
    display: none;
}

.tours-intro {
    color:#032d5d;
    margin:0 auto 3em auto ;
    text-align: center;
    font-size:1.4em;
    width:80%
}

@keyframes transition{
    0%{background-image: url(../pictures/diapo/1.JPG);}
    4%{background-image: url(../pictures/diapo/2.JPG);}
    8%{background-image: url(../pictures/diapo/3.JPG);}
    12%{background-image: url(../pictures/diapo/4.JPG);}
    16%{background-image: url(../pictures/diapo/5.JPG);}
    20%{background-image: url(../pictures/diapo/6.JPG);}
    24%{background-image: url(../pictures/diapo/7.JPG);}
    28%{background-image: url(../pictures/diapo/8.JPG);}
    32%{background-image: url(../pictures/diapo/9.JPG);}
    36%{background-image: url(../pictures/diapo/10.JPG);}
    40%{background-image: url(../pictures/diapo/11.JPG);}
    44%{background-image: url(../pictures/diapo/12.JPG);}
    48%{background-image: url(../pictures/diapo/13.JPG);}
    52%{background-image: url(../pictures/diapo/14.JPG);}
    56%{background-image: url(../pictures/diapo/15.JPG);}
    60%{background-image: url(../pictures/diapo/16.JPG);}
    64%{background-image: url(../pictures/diapo/17.JPG);}
    68%{background-image: url(../pictures/diapo/18.JPG);}
    72%{background-image: url(../pictures/diapo/19.JPG);}
    76%{background-image: url(../pictures/diapo/20.JPG);}
    80%{background-image: url(../pictures/diapo/21.JPG);}
    84%{background-image: url(../pictures/diapo/22.JPG);}
    88%{background-image: url(../pictures/diapo/23.JPG);}
    92%{background-image: url(../pictures/diapo/24.JPG);}
    96%{background-image: url(../pictures/diapo/25.JPG);}
    100%{background-image: url(../pictures/diapo/26.JPG);}
} 

@media screen and (max-width: 1280px){
    .cta-tours:hover{
        background:#032d5d;
    }
}

@media screen and (max-width: 500px){
    .diapo{
        display: none;
    } 

    .pic{
        display: block;    
        width:300px;
        height:300px;
        margin: 60px auto;
    }

    .tours-intro {
        font-size: 1.2em;
        text-align: justify;
    }

}
