.big{
    width:500px;
    height:500px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:4vw;
}

.container-right{
    width:40%;
}

.cta-tours{
    display: flex;
    font-size: 2.2em;
    width:8em;
    justify-content: center;
    border-radius: 10px;
    background: #032d5d;
    color:white;
}

.cta-tours:hover{
    display: flex;
    justify-content: center;
    width:8em;
    border-radius: 10px;
    background: #083a74;
}

.formlink{
    color:#032d5d;
}

h2{
    margin: 3em 0 2em 0;
    text-align: center;
}

.icon{
    width:50px;
    height:50px;
}

.itw-info ul{
    display: flex;
    justify-content: center;
    gap:5em;
}

.itw-info-data{
    display: flex;
    align-items: center;
    gap:15px;
}

.itw-info-detail{
    margin:5em 0;
    display: flex;
    padding-left: 4em;
    width:80%;
    gap:2em;
}

.itw-title{
    padding-left: 4em;
}

main{
    color:#032d5d;
}

.reservation{
    display: flex;
    margin-top: 1.5em;
    font-size: 2em;
    width:350px;
    justify-content: center;
    border-radius: 10px;
    background: #032d5d;
    color:white;
}

.reservation:hover{
    background: #083a74;
}

.small{
    width:300px;
    height:400px;
}

.sous-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.sous-container p{
    width:300px;
}

strong{
    text-transform:uppercase;
}

.texte{
    color:#032d5d;
    font-size: 1.1em;
}

.tours-pad{
    padding-top: 14vh;
}

video{
    object-fit: cover;
    width:600px;
    height:400px;
}

.zoom{
    cursor: zoom-in;
}

@media screen and (max-width: 1100px){

    .mobile-img{
        width:350px;
        height:350px;
    }

    .container{
        margin:auto;
        flex-direction: column; 
        width:90%;
    }

    .container-right{
        width:80%;
    }

    h2{
        margin: 2em 0 2em 0;
    }

    h4{
        text-align: center;
    }

    .reservation:hover{
        background: #032d5d;
    }

    .sous-container{
        flex-direction: row-reverse;    
        text-align: left;
    }

}

@media screen and (max-width:600px)
{   

    .big{
        width:300px;
        height:250px;
    }

    .container{
        text-align: center;
    }

    .container-right{
        width:90%;
    }

    header{
        padding-bottom: 6em;
    }

    h2{
        margin: 1em 0 1em 0;      
    }

    .itw-info ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
        gap:0;
    }
    
    .itw-info-data{
        justify-content: left;
        width:300px;
    }

    .itw-info-data-descrip{
        margin: auto;
    }

    .mobile-img{
        display:none;
    }

    .reservation{
        margin-top: 1.7em;
        font-size: 1.7em;
        width:250px;
    }

    .sous-container{
        text-align: center;
    }

    video{
        display:none;
    }
}
